.container {
  margin: 20px auto;
  display: flex;
  /* justify-content: center; */
}

.output_box {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.output {
  background: rgb(251, 252, 250);
  border: 1px solid rgb(110, 109, 109);
  margin: 10px;
  width: 30%;
  height: 400px;
  text-align: center;
  position: relative;
}

.output img {
  margin-top: 20px;
  width: 200px;
}

.output h1 {
  font-size: 18px;
  text-align: center;
}

.output_text {
  width: 90%;

  margin: 0 auto;
}

.output_text p {
  font-size: 12px;
  width: 90%;
}

.output p {
  font-size: 13px;


}

.output span {
  font-size: 12px;
}

.input_form {
  width: 40%;
  background: rgb(241, 241, 144);
  padding: 5px;
}


.input ul {
  list-style: none;
}

.input li {
  margin: 8px 0;
}

.search_count {
  border: 1px solid rgb(149, 146, 146);
  width: 50%;
  height: 200px;
  background: fuchsia;
}

.search_count h1 {
  font-size: 18px;
}